.jumbotron {
    text-align: center;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
    padding: 0;
  }

  .jumbotron .lead,
  .jumbotron .featurette-heading {
    color: white;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .centered-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }